APP_ENV=<prod|dev>

FORM_TYPE=<contact|sepa>

PLACE=<ort>
SEPA_CREDITOR_NAME=<name des gläubigers>
SEPA_CREDITOR_ADRESS=<strasse + plz + ort>
SEPA_CREDITOR_ID=<gläubiger-id>

# --- Mailversand ---
# DEV (Mailpit lokal):
#   MAIL_HOST=127.0.0.1
#   MAIL_PORT=1025
#   MAIL_SECURE=
#   MAIL_USER=
#   MAIL_PASS=
#   MAIL_FROM=dev@localhost
#   MAIL_FROM_NAME=Dev
#   MAIL_TO=inbox@localhost
#
# PROD (SMTP):
MAIL_HOST=<smtp-server>
MAIL_PORT=<smtp-port>
MAIL_USER=<smtp-username>
MAIL_PASS=<smtp-password>
MAIL_FROM=<smtp-from-address>
MAIL_FROM_NAME=<smtp-from-name>
MAIL_TO=<recipient-email>
MAIL_SECURE=<tls|ssl>
